<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:each ="customer: ${allCustomers}">
  <ul>
    <li th:text="${customer.getUsername()}"></li>
  </ul>
</div>

<div th:each ="customer: ${customerById}">
  <ul>
    <li th:text="${customer.getUsername()}"></li>
  </ul>
</div>

<div th:each ="customer: ${filterCustomers}">
  <ul>
    <li th:text="${customer.getUsername() + ' ' + customer.getCity() + ' ' + customer.getCountry()}"></li>
  </ul>
</div>

</body>
</html>